.venv/
*.egg-info/
__pycache__/
*.pyc
.DS_Store
vendor/torchsparse/build/
vendor/torchsparse/dist/
vendor/torchsparse/torchsparse.egg-info/
vendor/minkowskiengine/build/
vendor/minkowskiengine/dist/
vendor/minkowskiengine/MinkowskiEngine.egg-info/
